<h1>“<%= @article.title %>”的版本历史</h1>

<table>
  <thead>
    <tr>
      <th>更新时间</th>
      <th>内容</th>
      <th>编辑者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= link_to "#{history.created_at}", article_history_path(@article, history) %></td>
        <td><%= strip_tags(history.content[0, 40]) %></td>
        <td><%= link_to '#', '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>