@import "bootstrap-sprockets";
@import "bootstrap";

/*sidebar*/
.sidebar li {
  list-style-type: none;
  padding-left: 20px;
}

.sidebar ul {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
}

.sidebar {
/*  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #987cb9; */
}

/* universal */

/*body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

ul li{
  list-style-type: none;
}*/

/* header */

#header {
  background: #fff;
  box-shadow: 0 0 6px #ccc;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  z-index: 30;
  color: #292f33;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 16px;
  font-weight: bold;
}

#logo:hover {
  /*color: #59B2F0;*/
  text-decoration: none;
  background-color: #fff;
}

#header_nav a:hover {
  color: #59B2F0;
}


/* body */

#body {
  padding-top: 30px;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* form */

#save_btn {
}
