<header class="navbar navbar-fixed-top navbar-inverse" id="header">
  <div class="container">
    <%= link_to "T7S 中文WIKI", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right" id="header_nav" >
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   '#'%></li>
        <li><%= link_to "login",  new_user_session_path %></li>
      </ul>
    </nav>
  </div>
</header>